#line1 {
	font-weight: 300;
	font-size: 2em;
	text-align: center;
}

#line2 {
	font-size: 1.25em;
	font-weight: 100;
	text-align: center;
}

#line3 {
	text-align: center;
	font-size: 1em;
}

#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px 5px grey;
}

#button:hover {
    background-color: white;
    color:green;
    box-shadow: 2px 2px 5px grey;
} 

.card {
    box-shadow: 2px 2px 5px grey;
    padding-top: 10px;
    padding-bottom: 20px;
}

#thanksgiving {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

